<!-- <div class="page">
  <div class="container">
    <div class="dialog">
      <div class="header">
        <span class="title">{{ title }}</span>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="hfill"></div>
        <div class="buttons">
          <button md-button md-dialog-close class="primary">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<h2 md-dialog-title>
{{ title}}
</h2>
<div md-dialog-content>
{{ content }}
</div>
<div md-dialog-actions>
  <div class="hfill"></div>
  <button md-button [md-dialog-close]="true">Ok</button>
</div>
