
@import '../../../stylesheets/partials/_colors.scss';
@import '../../../stylesheets/partials/_variables.scss';

md-grid-list {
  height: 75%;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;



}

md-list {
  width: 500px !important;
}
md-input-container {
  width: 90%;
}


.pad-horizontal {
   flex: 1 1 auto;
}