

<md-grid-list cols="1" rowHeight="100%">

  <md-toolbar>
  <span>Settings</span>
  <span class="pad-horizontal"></span>
  <span>
    <button (click)="cancelSettings()" md-icon-button>
      <md-icon>cancel</md-icon>
    </button>
    <button (click)="saveSettings()" md-icon-button>
      <md-icon>save</md-icon>
    </button>
  </span>
</md-toolbar>
<br>
<md-list>
<md-input-container>
  <input mdInput placeholder="Stimuli folder" disabled value="{{ settings.stimuliPath }}">
</md-input-container>
<button md-icon-button  (click)="changeStimuliPath()">
  <md-icon>edit</md-icon>
  </button>
<br>
<md-input-container>
  <input mdInput placeholder="Responses folder" disabled value="{{ settings.responsesPath }}">
</md-input-container>
<button md-icon-button  (click)="changeResponsesPath()">
  <md-icon>edit</md-icon>
</button>
</md-list>

</md-grid-list>
