
@import '../../../stylesheets/partials/_colors.scss';
@import '../../../stylesheets/partials/_variables.scss';


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
}

.page {

  background: url(../../../assets/images/background.svg) no-repeat center fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.container {
  height: 100%;
  display: flex;
  position: relative;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content {
  height: 75% !important;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  margin: 1ex;
  flex: 1 1;
   overflow-y: scroll;
}

.header {
  width: 100%;
  //background-color: color($md-palette, md-light-blue);
  color: color($md-palette, md-white);
  text-align: left;
  margin-bottom: 1ex;
  .header-title {
    font-size: $font-size-large;
    padding-left: 0.5ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
  }
}

.footer {
  display: flex;
  padding: 1ex;
}

.setting {
  position: relative;
  width: 100%;
  margin-bottom: 1ex;
  .title {
    color: color($md-palette, md-white);
  }

  .setting-description {
    text-align: left;
  }

  .description {
    color: color($md-palette, md-grey) !important;
    font-size: $font-size-tiny;
  }

  button {
    span {
    font-size: $font-size-tiny !important;
    }
  }

  .number {
    .setting-value {
      width: 0%;
    }
    input {
      background: green;
    }
  }



}

.folder {
  .setting-value {
    width: 100%;
    text-align: left;
    border-bottom: 1px dotted color($md-palette, md-grey);
    span {
      color: color($md-palette, md-grey);
      font-size: $font-size-small;
    }
    input {
      background: transparent;
      border: none;
      outline: none;
      width: 100%;
      color: color($md-palette, md-grey);
    }
  }
}


.number-input-with-buttons {
  display: inline-block;
  position: relative;
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px dotted color($md-palette, md-grey);
    outline: none;
    margin-right: 1em;
    width: 3em;
    color: color($md-palette, md-white);
  }

  button {
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
    font-size: $font-size-normal;
    width: 0.875em !important;
    height: 0.85em !important;
    line-height: 0.25em;
    background-color: color($md-palette, md-orange);
  }
  button:hover {
    background-color: darken(color($md-palette, md-orange), 10);
  }
  .plus {
    top: 0;
    right: 0;
  }
  .minus {
    bottom: 0;
    right: 0;
  }
}

.setting-header {
  width: 100%;
  display: flex;

  .buttons {
    position: absolute;
    right: 0;
  }
}



.buttons {
  display: inline-block;
}

button {
  border: none;
  outline: 0px;
  width: 15ex;
  border-radius: 2.5px;
}



.primary {
  background-color: $button-primary-background;
  color: $button-primary-color;
}


.primary[disabled] {
  background-color: lighten($button-primary-background, 25);
  color: $button-primary-color;
}

.secondary {
  background-color: $button-secondary-background;
  color: $button-secondary-color;
}

.horizontal-filler {
   flex: 1 1 auto;
}

// .setting-value input {
//   background: transparent;
//   border: none;
//   outline: none;
//   width: 100%;
//   color: color($md-palette, md-grey);
// }

.main::-webkit-scrollbar {
    width: 6px;
    background-color: none;
}