

<div class="page" ng-app="">
  <div class="container" [class.fade-in]="enter" [class.fade-out]="exit">
    <div class="content">
      <div class="header">
        <span class="header-title">Settings</span>
      </div>
      <div class="main">
        <div class="setting folder">
          <div class="setting-header">
            <span class="title">Stimuli</span>
            <span class="horizontal-filler"></span>
            <div class="buttons">
              <button md-button class="secondary" (click)="changeStimuliPath()">
                Change
              </button>
            </div>
          </div>
          <div class="setting-description">
            <span class="description">All .wav files in this folder will be used for stimuli</span>
          </div>
          <div class="setting-value">
            <span>{{ settings.stimuliPath }}</span>
          </div>
        </div>
        <div class="setting folder">
          <div class="setting-header">
            <span class="title">Responses
            </span>
            <span class="horizontal-filler"></span>
            <div class="buttons">
              <button md-button class="secondary"  (click)="changeResponsesPath()">
                Change
              </button>
            </div>
          </div>
          <div class="setting-description">
            <span class="description">Responses will be saved inside this folder</span>
          </div>
          <div class="setting-value">
            <span>{{ settings.responsesPath }}</span>
          </div>
        </div>
        <div class="setting number">
          <div class="setting-header">
            <span class="title">Block Size</span>
            <span class="horizontal-filler"></span>
            <div class="number-input-with-buttons">
              <input type="number" min="1" max="100" [(ngModel)]="settings.blockSize" (change)="changeBlockSize()">
              <button class="plus" (click)="changeBlockSize(1)">+</button>
              <button class="minus" (click)="changeBlockSize(-1)">-</button>
            </div>
          </div>
          <div class="setting-description">
            <span class="description">Number of trials in a block</span>
          </div>
        </div>
        <div class="setting number">
          <div class="setting-header">
            <span class="title">Mask frequency</span>
            <span class="horizontal-filler"></span>
            <div class="number-input-with-buttons">
              <input type="number" min="1" max="100" [(ngModel)]="settings.maskFrequency" (change)="changeMaskFrequency()">
              <button class="plus" (click)="changeMaskFrequency(5)">+</button>
              <button class="minus" (click)="changeMaskFrequency(-5)">-</button>
            </div>
          </div>
          <div class="setting-description">
            <span class="description">Frequency of auditory mask in Hz</span>
          </div>
        </div>
        <div class="setting number">
          <div class="setting-header">
            <span class="title">Mask duration</span>
            <span class="horizontal-filler"></span>
            <div class="number-input-with-buttons">
              <input type="number" min="10" max="2000" [(ngModel)]="settings.maskDuration" (change)="changeMaskDuration()">
              <button class="plus" (click)="changeMaskDuration(10)">+</button>
              <button class="minus" (click)="changeMaskDuration(-10)">-</button>
            </div>
          </div>
          <div class="setting-description">
            <span class="description">Duration of auditory mask in ms</span>
          </div>
        </div>
      </div>

      <div class="footer">
        <span class="horizontal-filler"></span>
        <div class="buttons">
          <button md-button class="secondary" (click)="cancelSettings()">
            Cancel
          </button>
          <button md-button class="primary" (click)="saveSettings()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
