


<div class="page">
<app-background-animation #background></app-background-animation>
<!-- <div class="background">
  <div class="sky"></div>
  <div class="sea"></div>

  <div *ngFor="let item of [].constructor(10); let i = index;"
    class="wave wave{{i}}"></div>

    <div class="sun"></div>

  <div class="g">
    <div *ngFor="let item of [].constructor(3); let i = index;"
       class="cloud-container cloud-container{{2-i}}">
      <div *ngFor="let item of [].constructor(4)"
        class="cloud"></div>
    </div>
  </div>
</div> -->




  <div class="container">
    <div class="content">


  <h1 class="title">
    <span class="logo">
      <span>S</span><span>W</span><span>Im</span><span>!</span>
    </span>
  </h1>
  <h2>
    Spoken Word Imitation
  </h2>

  <md-list>
    <md-list-item>
      <button md-button (click)="openSettings()">
        Settings
      </button>
    </md-list-item>
    <md-list-item>
      <button md-button (click)="go('/task')">
        Start
      </button>
    </md-list-item>
    <md-list-item>
      <button md-button class="danger" (click)="exitApplication()">
        Exit
      </button>
    </md-list-item>
  </md-list>

    </div>
  </div>
</div>
