


<div class="page">
<div class="page-wrapper {{fade}}">
  <div class="container">
    <div class="content">


  <div class="title">
    <span class="logo">
      <span>S</span><span>W</span><span>I</span><span>m</span>
    </span>
  </div>
  <img [src]="logoPath"/>
  <div class="subtitle">
    Spoken Word Imitation
  </div>

  <mat-list>

    <mat-list-item *ngIf="!this.audioAvailable">
      <span class="error">
        Cannot access audio for recording.
        <br>
        Please check computer audio settings and restart
        <br>
        &nbsp;
      </span>
    </mat-list-item>
    <mat-list-item *ngIf="this.audioAvailable">
      <button mat-button class="button-primary" (click)="startTask()">
        Start
      </button>
    </mat-list-item>

    <mat-list-item *ngIf="this.audioAvailable">
      <button mat-button class="button-secondary" (click)="openSettings()">
        Settings
      </button>
    </mat-list-item>

    <mat-list-item *ngIf="this.audioAvailable">
      <button mat-button class="button-tertiary" (click)="openAudio()">
        Audio
      </button>
    </mat-list-item>

    <mat-list-item>
      <button mat-button class="danger" (click)="exitApplication()">
        Exit
      </button>
    </mat-list-item>
  </mat-list>

    </div>
  </div>
</div>
</div>
