
$mat-palette: (
  mat-red:         #F44336,
  mat-pink:        #E91E63,
  mat-purple:      #9C27B0,
  mat-deep-purple: #673AB7,
  mat-indigo:      #3F51B5,
  mat-blue:        #2196F3,
  mat-light-blue:  #03A9F4,
  mat-cyan:        #00BCD4,
  mat-teal:        #009688,
  mat-green:       #4CAF50,
  mat-light-green: #8BC34A,
  mat-lime:        #CDDC39,
  mat-yellow:      #FFEB3B,
  mat-orange:      #FF9800,
  mat-deep-orange: #FF5722,
  mat-brown:       #795548,
  mat-grey:        #9E9E9E,
  mat-blue-grey:   #607D8B,
  mat-black:       #000000,
  mat-white:       #FFFFFF
);

