
<div class="page">
<div class="background" (class)="background">
<div class="tile tile-horizontal tile-horizontal-1 slide-in-from-left color-1"></div>
<div class="tile tile-horizontal tile-horizontal-2 slide-in-from-right color-1"></div>
<div class="tile tile-horizontal tile-horizontal-3 slide-in-from-left color-1"></div>
<div class="tile tile-horizontal tile-horizontal-4 slide-in-from-right color-1"></div>
<div class="tile tile-horizontal tile-horizontal-5 slide-in-from-left color-1"></div>
<div class="tile tile-horizontal tile-horizontal-6 slide-in-from-right color-1"></div>
<div class="tile tile-horizontal tile-horizontal-7 slide-in-from-left color-1"></div>
<div class="tile tile-horizontal tile-horizontal-8 slide-in-from-right color-1"></div>
</div>
