
<div class="page">
<div class="background" (class)="background">
    <div class="tile tile-background color-{{backgroundColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-1 slide-in-{{barDirection[0]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-2 slide-in-{{barDirection[1]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-3 slide-in-{{barDirection[0]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-4 slide-in-{{barDirection[1]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-5 slide-in-{{barDirection[0]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-6 slide-in-{{barDirection[1]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-7 slide-in-{{barDirection[0]}} color-{{barColor}}"></div>
    <div class="tile tile-{{barOrientation}} tile-{{barOrientation}}-8 slide-in-{{barDirection[1]}} color-{{barColor}}"></div>
</div>
</div>
