

@import '../../../stylesheets/partials/_colors.scss';
@import '../../../stylesheets/partials/_variables.scss';


.page {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



$color-list:(
    red,
    green,
    pink,
    orange,
    light-green,
    purple,
    yellow,
    deep-purple,
    cyan,
    indigo,
    deep-orange,
    blue,
    lime,
    light-blue,
    brown,
    teal
);

@for $i from 1 through length($color-list) {
    $c: nth($color-list, $i);
    .color-#{$i} {
        background-color: color($md-palette, md-#{$c});
    }
}



.color-0 {
    background-color: color($md-palette, md-black);
}


.tiles {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    background: color($md-palette, md-black);
    perspective: 1000px;
}

.tile {
    position: absolute;
    width: 100%;
    height: 100%;
}


@keyframes outRight {
   from { }
   to { transform: translateX(100%) rotateY(90deg) scale(0.1); opacity: 0;}
}

@keyframes outLeft {
    from { }
    to { transform: translateX(-100%) rotateY(90deg) scale(0.1); opacity: 0;}
}

@keyframes inRight {
    from { transform: translateX(100%) rotateY(90deg)  scale(0.1); opacity: 0;}
    to { }
}
@keyframes inLeft {
    from { transform: translateX(-100%) rotateY(90deg) scale(0.1); opacity: 0;}
    to { }
}


@keyframes outBottom {
    from { }
    to { transform: translateY(100%) rotateX(90deg) scale(0.1); opacity: 0;}
 }

 @keyframes outTop {
     from { }
     to { transform: translateY(-100%) rotateX(90deg) scale(0.1); opacity: 0;}
 }

 @keyframes inBottom {
     from { transform: translateY(100%) rotateX(90deg)  scale(0.1); opacity: 0;}
     to { }
 }
 @keyframes inTop {
     from { transform: translateY(-100%) rotateX(90deg) scale(0.1); opacity: 0;}
     to { }
 }

$animation-duration: 2s;

.in-left {
    animation: inLeft $animation-duration forwards;
}

.in-right {
    animation: inRight $animation-duration forwards;
}

.out-left {
    animation: outLeft $animation-duration forwards;
}

.out-right {
    animation: outRight $animation-duration forwards;
}

.in-top {
    animation: inTop $animation-duration forwards;
}

.in-bottom {
    animation: inBottom $animation-duration forwards;
}

.out-top {
    animation: outTop $animation-duration forwards;
}

.out-bottom {
    animation: outBottom $animation-duration forwards;
}

.tile-front {
    z-index: 10;
}

.tile-back {
   z-index: 5
}

