<div mat-dialog-title class="header">
  <span class="header-title">Audio</span>
</div>
<div mat-dialog-content>
  <div class="main">
    <div class="setting setting-audio">
      <div class="setting-header">
        <span class="title">Audio input</span>
        <span class="horizontal-filler"></span>
        <span class="error-message">{{inputErrorMessage}}</span>
      </div>
      <div class="setting-description disabled-{{inputErrorMessage.length > 0}}">
        <span class="description">Adjust the microphone level using the operating system</span>
      </div>
      <div class="setting-value disabled-{{inputErrorMessage.length > 0}}">
        <div class="audio-meter audio-input-meter">
          <div class="audio-meter-value" [ngStyle]="inputLevel">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="footer">
  <span class="horizontal-filler"></span>
  <div class="buttons">
    <button mat-button class="primary" (click)="finished()">
      Back
    </button>
  </div>
</div>

